.quote-display {
    margin-bottom: 1rem;
}

.quote-input {
    outline: none;
}

.quote-input:focus {
    border-color: black;
} 

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
}
h4 {
    background-color: aqua;
}